<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



    <style>
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

input#text{
  width:300px;
  border:1px solid #ddd;
  border-radius:3px;
  outline:0;
  padding:7px;
  background-colour:#fff;
  }

.header_bar {
    position: top;
    left: 0;
    bottom: 0;
    width: 100%;
  background-color: #5DADE2;
    text-align: center;
    }

.footer_bar {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #5DADE2;
   text-align: center;
}
  </style>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" />
    <title>View Order</title>

    <style type="text/css">
table { border: 3px solid red }
table th { border: 2px solid green }
table td { border: 1px solid blue }
</style>

</head>
<body style="background-color: #fff;">

<div th:replace="fragments/navbar :: navbar_header"></div>
<div th:replace="fragments/navbar :: navbar_menu"></div>
<div class="container">
    <div th:replace="fragments/message :: message_html"></div>
</div>
<div class="container">
    <h4>View Order</h4>
    <hr>
    <div class="row auto-align">

        <label for="orderNo">OrderNo</label>
        <input type="text" class="form-control" name="orderNo" id="orderNo1" placeholder="orderNo" maxlength="10">
        <hr>
        <button id="get" class="btn btn-primary">Get</button>

    </div>
    <div class="container">
        <h1></h1>
        <hr>
        <div class="row auto-align">
            <div class="col">
                <h3><i>Order No:</i> <b><span th:text="${sales.orderNo}" id="orderNo"></span></b></h3>
            </div>
            <div class="col">
                <h3><i>Customer Code:</i> <b><span th:text="${sales.custCode}" id="custCode"></span></b></h3>
            </div>
            <div class="col">
                <h3><i>Date:</i> <b><span th:text="${sales.date}" id="date"></span></b></h3>
            </div>

        </div>

    </div>

</div>
<br>
<div class="container">
    <table class="tableSelect" id="productTable">
        <thead>
        <tr>

            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Rate</th>
            <th scope="col">Discount</th>
            <th scope="col">Amount</th>
            <th scope="col">Net Amount</th>
            <th scope="col" style="display:none;">P_Key</th>

        </tr>
        </thead>

        <tbody id="TBody">
        <tr id="TRow" th:each=" order : ${orders}">

            <td scope="col">

                <select id="product" class="form-control" name="product" autocomplete="on">
                    <option th:value="${order.prodCode}"> <span th:text="${order.prodCode}" ></span></option>
                    <option th:each="i : ${products}" th:value="${i.PCode}" ><span th:text="${i.PName}"></span> - <span th:text="${i.unitRate}">(Common price)</span></option>
                </select>
            </td>
            <td scope="col"> <input type="number" class="form-control" id="qty" name="qty" th:value="${order.quantity}" min="1"/></td>
            <td scope="col"> <span id="unitRate" name="unitRate" th:text="${order.unitRate}" ></span> </td>
            <td scope="col"> <input type="number" class="form-control" id="disc" name="disc" th:value="${order.disc}" min="0"/> </td>
            <td scope="col"> <span id="amount" name="amount" th:text="${order.amount}" ></span> </td>
            <td scope="col"> <span id="netAmount" name="netAmount" th:text="${order.netAmount}"></span> </td>
            <td scope="col" style ="display:none;"> <span th:text="${order.id}"></span> </td>


        </tr>
        </tbody>
    </table>
    <br>

    <br>
    <div class="row">
        <div class="col">
            <h5><i>Amount:</i> <b><span th:text="${sales.amount}" id="totAmount" name="totAmount"></span></b></h5>

        </div>
        <div class="col">
            <h5><i>Disc:</i> <b><span th:text="${sales.disc}" id="totDiscount" name="totDiscount"></span></b></h5>
            <!-- <h5><i>Disc:</i> <b><input type="text" class="form-control" id="totDiscount" name="totDiscount" /></b></h5> -->
        </div>

        <div class="col">
            <h5><i>Net Amount:</i> <b><span th:text="${sales.netAmount}" id="totNetAmount" name="totNetAmount"></span></b></h5>

        </div>

    </div>

    <div>
        <input type="submit" id="bulkUpdate" name="bulkUpdate" value="UPDATE"/>
    </div>
</div>
<div th:replace="fragments/navbar :: navbar_footer"></div>
</body>
<script>
$(document).ready(function() {
    $.ajax({
        type: 'POST',
        url: '/getproductValues',
        data: {

            "pcode": $("#product").val(),
            "qty": $("#qty").val(),
            "disc": $("#disc").val()
        },
        success: function(data) {
            console.log(data["commonValue"]);
            $("#commonPrice").html(data["commonValue"]);
            $("#specialPrice").html(data["specialValue"]);
            $("#amt").html(data["amount"]);
            $("#totalPrice").html(data["ttlValue"]);
            $("#qty").max(data["specialValue"]);
        }
    })

</script>

<script>
  // ajax call update for table
$('#bulkUpdate').click(function() {

 var dailySales = [];
  //var prodCode,qty, disc;
<!--  var prodCode = $("#prodCode").val();-->
  var totAmount = $("#totAmount").text();
  var totDisc = $("#totDiscount").text();
  var totNetAmount =$("#totNetAmount").text();
var orderNo =$("#orderNo").text();
//alert(orderNo);


  $("table tbody tr").each(function(index) {
  var currentRow=$(this).closest("tr");

  var product = currentRow.find('#product').val();
 // alert(product);
   var quantity = parseFloat(currentRow.find('#qty').val());
   var unitRate = currentRow.find("td:eq(2)").text();
      var disc = parseFloat(currentRow.find('#disc').val());
       var amount=currentRow.find("td:eq(4)").text();
         var netAmount=currentRow.find("td:eq(5)").text();
           var id=currentRow.find("td:eq(6)").text();

    dailySales.push({
    prodCode: product,
      quantity: quantity,
      unitRate : unitRate,
      disc: disc,
      amount: amount,
      netAmount: netAmount,
      totAmount : totAmount,
      totDisc : totDisc,
      totNetAmount: totNetAmount,

      id :  id,
      orderNo : orderNo

    });

  });

  var json = JSON.stringify(dailySales);
  alert(json);

  $.ajax({
url: '/updateOrder',
    method: 'POST',
        contentType : 'application/json; charset=utf-8',
        data: JSON.stringify(dailySales),
success: function(data) {

alert("Data Saved Successfully !!!");
}
});
});

</script>

<script>

$('table tbody tr').keyup(function() {
 //var index = this.rowIndex;
 // alert(index);

 // current row picker
 var currentRow=$(this).closest("tr");
 var $row = $(this).closest('tr');

 var product=currentRow.find("td:eq(0)").text();
 var qty = parseFloat(currentRow.find('#qty').val());
 //alert(qty);
 var unitRate=currentRow.find("td:eq(2)").text();
 //alert(qty*parseFloat(unitRate));
 var calAmount = qty*parseFloat(unitRate);
 //alert(calAmount);
 var discount=currentRow.find("td:eq(3)").text();

 //$currentRow.find('td').eq(4).text(qty*parseFloat(unitRate));
 // set calculated value
 $row.find('td').eq(4).text(calAmount);

var discount = parseFloat(currentRow.find('#disc').val());
//alert(discount);

var netAmount = calAmount - parseFloat(discount) * parseFloat(qty);
//alert(netAmount);
 $row.find('td').eq(5).text(netAmount);

           var discount,amt =0,netamt=0;
  $("table tbody tr").each(function(index) {
  var currentRow=$(this).closest("tr");

   var amount=parseFloat(currentRow.find("td:eq(4)").text());
   var netamount=parseFloat(currentRow.find("td:eq(5)").text());

         amt = amt+amount;
         netamt=netamt+netamount;
           });
discount = amt-netamt;
    $("#totDiscount").html(discount);
    $("#totAmount").html(amt);
    $("#totNetAmount").html(netamt);

});

$('table tbody tr').change(function() {

 var index = this.rowIndex;
 var currentRow=$(this).closest("tr");
 var $row = $(this).closest('tr');
var product = currentRow.find('#product').val();
var qty = parseFloat(currentRow.find('#qty').val());
var discount = parseFloat(currentRow.find('#disc').val());
  var unitRate, amount, netAmount;
  var discount,amt =0,netamt=0;
  $.ajax({
            'async': false,
            type: 'POST',
            url: '/getproductValues',
            data: {
                "code": "RDML0080",
                "pcode":product,
                "qty": qty,
                "disc": discount
            },
            success: function(data) {
       unitRate = data["commonValue"];
            amount = qty * unitRate;
          netAmount = (unitRate - discount) * qty;
          }
});
$(this).find('#unitRate').html(unitRate);
  $(this).find('#amount').html(amount);
   $(this).find('#netAmount').html(netAmount);

   var discount,amt =0,netamt=0;
  $("table tbody tr").each(function(index) {
  var currentRow=$(this).closest("tr");

   var amount=parseFloat(currentRow.find("td:eq(4)").text());
   var netamount=parseFloat(currentRow.find("td:eq(5)").text());

         amt = amt+amount;
         netamt=netamt+netamount;
           });
discount = amt-netamt;
    $("#totDiscount").html(discount);
    $("#totAmount").html(amt);
    $("#totNetAmount").html(netamt);

});

</script>

</html>